{
  "type": "service_account",
  "project_id": "Value_Here",
  "private_key_id": "",
  "private_key": "Value_Here",
  "client_email": "Value_Here",
  "client_id": "Value_Here",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "Value_Here",
  "client_x509_cert_url": "Value_Here",
  "universe_domain": "googleapis.com"
}
